<h1>Editing chapter_leader</h1>

<%= render 'form' %>

<br/>
<%= link_to 'Show', @chapter_leader, :class => "btn btn-default" %> <%= link_to 'Back', chapter_leaders_path, :class => "btn btn-default" %>
