
<% if !@chapters.blank? %>
	$('#chapter-listings').html('<%=j render partial: 'chapters/chapter_listings', locals: { chapters: @chapters } %>')
	$("#chapter-listing-error").remove();
<% else %>
	
	<% distance = params[:distance] %>
	<% distance = 100 if distance.blank? %>

	$('div.chapter-search:first').before($("<div id='chapter-listing-error' class='alert alert-danger'>No Chapters Found within <%="#{distance} miles of #{params[:zip]}" %><button type='button' class='close' data-dismiss='alert'>&times;</button></div>"));
	
	$('#chapter-listings').html("");
	function hideflash() { 
		$("#chapter-listing-error").fadeOut();
		$("window").scrollTop($("#zip").position().top);
		$("#zip").focus();
	}
    setTimeout(hideflash, 5000);
<% end %>