<p class="bodytext" style="margin-top: 4px; margin-bottom: 8px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, Verdana, Geneva, sans-serif; font-size: 13px; line-height: 15.328125px;">
<span style="font-size: small;"><span style="font-family: Arial;">Visiting a local PFLAG chapter is the best way for parents, family members, friends, or lesbian, gay, bisexual and transgender (LGBT) people to get support, receive educational materials, and learn about PFLAG's advocacy efforts.</span><br />
<br />
<span style="font-family: Arial;">PFLAG has&nbsp;more than 350 chapters across the nation. Get peer support that you need from people who understand what you&#39;re experiencing. By using the search function below, you can find a list with contact information for the chapters nearest you.</span></span>&nbsp;<br />
<br />
<span style="font-family: Arial;">Many PFLAG chapters host multiple support groups and/or specialized groups each month. Be sure to check the chapter website for more information on how they can support you.</span>&nbsp;<br />
<br/>

<span style="font-size: small;"><span style="font-family: Arial;">Remember: You are not alone.</span></span></p>
<p class="bodytext" style="margin-top: 4px; margin-bottom: 8px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, Verdana, Geneva, sans-serif; font-size: 13px; line-height: 15.328125px;">
<span style="font-size: small;"><span style="font-family: Arial;"><strong><span style="color: rgb(204, 0, 0);">NOTE:</span></strong>&nbsp;If you are a PFLAG chapter leader and would like to update your chapter record, please contact&nbsp;<a href="mailto:chapterservices@pflag.org" style="color: rgb(98, 0, 110);">Chapter Services</a></span>.</span></p><br>