.navbar .brand:hover, .navbar .brand:focus, a:hover {
	background-color: transparent;
}

a:visited, a:hover {
	text-decoration: underline;
	color: black;
	background-color: transparent;
}

a:visited.btn-primary {
	color: white;
}

div.well.chapter_listing {
	width: 40%;
}