body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.navbar .brand:hover, .navbar .brand:focus, a:hover {
	background-color: transparent;
}

a:visited, a:hover {
	text-decoration: underline;
	color: #62006e;
	background-color: transparent;
}

a {
	color: #62006e;
}


a:visited.btn-primary {
	color: white;
}

div.well.chapter_listing {
	width: 40%;
}

a.btn {
	color: white;
}

a.btn.btn-default {
	color: #428bca;
}

@media print 
{
    div.chapter-search
    {
        display:none;
    }
}