body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.navbar .brand:hover, .navbar .brand:focus, a:hover {
	background-color: transparent;
}

a:visited, a:hover {
	text-decoration: underline;
	color: #62006e;
	background-color: transparent;
}

a {
	color: #62006e;
}


a:visited.btn-primary {
	color: white;
}

div.well.chapter_listing {
	width: 40%;
}

a.btn {
	color: white;
}

a.btn.btn-default {
	color: #428bca;
}

@media print 
{
    div.chapter-search
    {
        display:none;
    }
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}

.top10 {
    margin-top: 10px;
}

form input.btn {
  margin-top: 10px;
}